# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Archivos de configuración de IDEs
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos de crash y logs
sysinfo.txt
mono_crash.*

# Archivos de compilación
*.apk
*.aab
*.unitypackage
*.app

# Visual Scripting
Assets/Unity.VisualScripting.Generated/

# Addressables
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/
ServerData/

# Otros
*.log
*.blend1
*.blend1.meta